.nav-container {
    padding: 1rem;
    background-color: var(--color-primary);
}

.div-container {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    gap: 1rem;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/public/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}