.button-container {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2rem;
}

.button-container button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--step-1);
    background-color: var(--color-primary);
    transition: 0.8s;
}

.button-container button:hover {
    background-color: var(--color-primary-hover);
}

.button-filter-container {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2rem;
}

.button-filter-container button {
    font-size: var(--step-0);
    border: none;
    border-radius: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.products-list-img-background {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: min(30rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.products-list-img-background a {
    text-decoration: none;
}

.products-list-img-background img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: min(30rem, 100vw - var(--space-xl));
    z-index: -1;
    object-fit: cover;

}

.products-list-img-background div {
    text-align: center;
}

.products-list-elements {
    margin: 0;
    padding-left: 20px;
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.products-list-elements h3 {
    margin: 10px;
}

.products-list-elements p {
    margin: 5px;
}